<%- include("header") -%>

<div>
    <h1>A cool website for To Do List</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem cumque tenetur quas tempore quidem aut praesentium accusantium assumenda voluptate minima! Odit maxime soluta ex animi! Veritatis odio quam reiciendis quia!</p>
</div>

<%- include("footer") -%>